#main {
	width:  900px;
	margin: 5px 5px 5px 5px;
	float: left;
}

#searchtext {
	width: 100px;
	margin: 5px 5px 5px 5px;
	float: left;
}

#searchInput {
	font-size: 16px;
	margin: 5px 5px 5px 5px;
	border-radius: 6px;
}

#topbar {
	font-family: Palatino Linotype;
	color: #0066FF;
	font-weight: bolder;
	background-image: url(images/rainbow-waves.jpg);
}

#frozen {
	height: 120px;
	background-color: black;
	opacity: 0.8;
}

#search {
	width: 100%;
	margin: 5px 5px 5px 5px;
	float: left;
	border-radius: 6px;
}

#buttons {
	padding-top: 100px;
	clear:right;
}

#topic_heading {
	font-weight: bold;
	color: grey;
}

#userprofile {
	width:auto;
}

/* LINK DESIGN */
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.top {
	width: 100px;
	margin: 5px 5px 5px 5px;
	margin-top: 25px;
	float: right;
	font-family: "Courier New Bold", Arial, Sans-Serif;
}

.bottom {
	height: 40px;
	width: 100px;
	margin: 5px 5px 5px 5px;
	float: left;
	font-family: "Courier New Bold", Arial, Sans-Serif;
}

.py1 > label {
	font-size: 20px;
	color: purple;
}

.py1 {
    list-style-type: none;
    padding-bottom: 20px;
}

#profilepic {	
	max-height: 300px;
	max-width: 300px;
}

p.help {
    font-size: 16px;
    
}
